HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Logs
*.log

# Compiled files
*.class

# Packages
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Spring / env configs (não subir credenciais)
application.properties
application.yml
.env

# IDEs
.idea/
.vscode/
.classpath
.project
.settings
*.iws
*.iml
*.ipr

# STS
.apt_generated
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Crash logs
hs_err_pid*
replay_pid*